<!doctype html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport"
              content="width=device=width, user-scalable=no">
        <meta http-equiv="X-UA-Compatible" content="id=edge">
    </head>
    <body>
        <h1>This is the about page.</h1>
    </body>
</html>